.img-corousel-um {
    height: 500px;
    object-fit: cover;
    object-position: 0 70%;
}

.img-corousel-dois {
    height: 500px;
    object-fit: cover;
    object-position: 0 60%;
}

.pacifico-font {
    font-family: 'Pacifico', cursive;
}

.sub-title-text {
    font-size: 25px;
}

.cor-darkred {
    color: darkred;
}

.card-button {
    background-color: darkred;
    color: white;
}

.card-details {
    border-color: darkred;
    max-width: 18rem;
}

.card-img {
    height: 250px;
    object-fit: cover;
}